.bootstrap-text-field{
    width: 100%;
    label{
        font-weight: 600 !important;
        color: #000;
    }
    >div{
        margin-top: 25px !important;
        font-size: 14px;
        &:before{
            display: none;
        }
        &:after{
            display: none;
        }
    }
    input{
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 6px 12px;
        min-height: 30px;
        background-color: #F8F8F8;
    }
}
.text-field-dense{
    margin-top: 0px !important;
    width: 100%;
    label{
        font-size: 13px;
        +div{
            border-radius: 0px !important;
            background-color: #fff !important;
            &:before{
                display: none;
            }
            &:after{
                display: none;
            }
            input{
                border: 1px solid $color_gray7 !important;
                padding: 12px 12px !important;
                font-size: 13px;
            }
        }
    }
}
.select-control {
    width: 100%;
    label{
        font-size: 13px;
        +div{
            border-radius: 0px !important;
            background-color: #fff !important;
            border: 1px solid $color_gray7 !important;
            &:before{
                display: none;
            }
            &:after{
                display: none;
            }
            >div>div{
                padding: 18px 12px 6px!important;
                font-size: 13px;
            }
        }
    }
}

.select-form-control{
    width: 100%;
    .select-box-bootstrap{
        &:before{
            display: none;
        }
        &:after{
            display: none;
        }
        >div>div{
            border: 1px solid $color_gray7;
            border-radius: 4px;
            padding-left: 10px;
            font-size: 13px;
        }
    }
}

.form-control-custom{
    input{
        background-color: #fff !important;
        min-height: 24px;
        font-size: 12px;
        &::-webkit-input-placeholder{
            font-size: 12px;
            color: $color_gray1;
            opacity: 1;
        }
        &:-ms-input-placeholder{
            font-size: 12px;
            color: $color_gray1;
            opacity: 1;
        }
        &::-ms-input-placeholder{
            font-size: 12px;
            color: $color_gray1;
            opacity: 1;
        }
        &::placeholder{
            font-size: 12px;
            color: $color_gray1;
            opacity: 1;
        }
    }
}

.password-text-field{
    width: 100%;
    label {
        padding: 8px 12px;
        font-size: 13px;
        +div{
            border: 1px solid $color_gray7 !important;
            min-height: 45px;
            padding-left: 12px;
            &:before{
                display: none;
            }
            &:after{
                display: none;
            }
        }
    }
    label[data-shrink="true"]{
        padding: 28px 12px;
    }
}
/*button css*/
.btn{
    text-transform: capitalize !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    font-size: 13px !important;
}
.btn-primary{
    background-color: $text_primary !important;
    color: $color_white !important;
}
.btn-block{
    min-width:100% !important;
    padding: 10px 16px !important;
    
}
.btn-common{
    padding: 6px 16px !important;
    min-height: 32px !important;
    color: $color_white !important;
}
.btn-gray{
    background-color: $color_gray !important;
    border: 1px solid $color_gray !important;
    min-width: 80px !important;
    color: $color_white !important;
}
.btn-dark-gray{
    background-color: $color_gray8 !important;
    color: $color_white !important;
}
.btn-blue{
    background-color: $text_primary !important;
    min-width: 120px !important;
}

.btn-icon{
    color: #fff !important;
    min-width: 100px !important;
    min-height: 40px !important;
    font-size: 0.78rem !important;
    span{
        font-size: 13px;
    }
}
.btn-red-bg{
    background-color: $text_danger !important;
}
.btn-blue-bg{
    background-color: $text_primary  !important;
}

.btn-chip{
    padding: 4px 10px !important;
    border-radius: 20px !important;
    font-size: 12px !important;
    min-width: 90px !important;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
    background-color: #fff!important;
    color: #000 !important;
    .avatar-count{
        width: 20px !important;
        height: 20px !important;
        font-size: 10px !important;
        background-color: $text_primary !important;
    }
}
.btn-rounded{
    padding: 2px 8px !important;
    border-radius: 20px !important;
    font-size: 12px !important;
    svg{
        font-size: 18px !important;
    }
}
.btn-rounded-blue{
    border: 1px solid $text_primary !important;
    color: $text_primary !important;
}
.btn-rounded-gray{
    border: 1px solid $color_gray7 !important;
    background-color: $color_gray7 !important;
}
.btn-sm{
    padding: 6px 20px !important;
}
.btn-outline{
    border:1px solid $text_primary !important;
    color: $text_primary !important;
}
/*button css end*/

.captcha-box {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    background-color: #eee;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    .captcha-text{
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1;
    }
}

/*media  css */

.icon-account{
    background-color: #fff;
    border-radius: 50%;
    color: #8D8D8D;
    font-size: 14px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 2em !important;
    height: 2em !important;
    cursor: pointer;
}

.media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    .media-content{
        padding-left: 10px;
        line-height: 20px;
        .text-small{
            font-size: 12px;
        }
        .text-large{
            font-size: 13px;
        }
    }
}
.icon-circle {
    background-color: #F1F1F1;
    border: 1px solid $color_gray7;
    border-radius: 50%;
    color: #000000;
    font-size: 18px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 1.5em !important;
    height: 1.5em !important;
    svg{
        font-size: 16px !important;
    }
}
/*media  css */

.heading-large{
    font-size: 16px !important;
    font-weight: 600 !important;
}
.heading-small{
    font-size: 14px !important;
    font-weight: 600 !important;
}
hr.line-divider {
    border-top: 1px solid $color_gray7;
    margin: 20px -30px;
}
.divider{
    border-top: 1px solid $color_gray7;
}

.border-bottom-red{
    border-bottom: 3px solid $text_danger;
}
.link{
    cursor: pointer;
    color: #0934C4;
}
.paper-box{
    border: 1px solid #E8E8E8;
    border-radius: 0px !important;
    padding: 10px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow:  0 0 5px 0 rgba(0,0,0,0.1) !important;
            box-shadow:  0 0 5px 0 rgba(0,0,0,0.1) !important;
}
.paper-header {
    padding: 10px 15px;
    background-color: #EEEEEE !important;
    border-radius: 0 !important;

}

/*confirm dialog css*/
.confirm-dialog {
    >div +div >div{
        text-align: center;
        border-radius: 0px !important;
        width: 490px;
        .dialog-head{
            padding: 45px 24px 30px !important;
        }
        .dialog-content{
            p{
                color: #000 !important;
            }
        }
        .dailog-footer{
            -webkit-box-pack: center !important;
                -ms-flex-pack: center !important;
                    justify-content: center !important;
            padding-bottom: 40px;
        }
    }
}
.pdf-dialog{
    >div +div >div{
        overflow: visible !important;
        svg{
            position: absolute;
            top: -15px;
            right: -15px;
            background-color: #fff;
            border-radius: 50%;
            width: 1.5em !important;
            height: 1.5em !important;
            padding: 2px;
            -webkit-box-shadow: 0 0 5px 0 #000;
                    box-shadow: 0 0 5px 0 #000;
            font-size: 18px !important;
            cursor: pointer;
        }
    }
}

/*tabs css*/
.nav-tab{
    background-color: #F1F1F1;
    min-height: 35px !important;
    >div>div>div + span{display: none;}
    .nav-tab-btn{
        min-height: 35px !important;
        text-transform: capitalize !important;
        min-width: 100px !important;
    }
    .nav-tab-btn[aria-selected="true"]{
        background-color: $text_primary;
        color: #fff;
    }
}

.tab-container{
    padding: 20px 0px;
}
/*tabs css end*/
.icon-box{
    svg{
        color: $color_gray10;
        border: 1px solid $color_gray10;
        border-radius: 50%;
        padding: 5px;
        cursor: pointer;
    }
}
.add-circle-icon{
    &:hover{
        border: 1px solid $text_primary;
        background-color: $text_primary;
        color: $color_white;
    }
}
.edit-circle-icon{
    &:hover{
        border: 1px solid $color_gray4;
        background-color: $color_gray4;
        color: $color_white !important;
    }
}
.add-icon{
    font-size: 30px !important;
    color: $text_primary;
    cursor: pointer;
}
.border-box {
    border: 1px solid $color_gray7;
    min-height: 170px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    .icon-box{
        position: absolute;
        bottom: 5px;
        right: 5px;
        svg{
            margin-right: 5px;
        }
    }
}

.bootstrap-text-field{
    label{
        font-size: 15px !important;
    }
}

.num-count{
    background-color: $color_gray;
    color: #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 11px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.num-count.active{
    background-color: $text_primary;
}
.no-label{
    margin-top: 0px !important;
    >div{
        margin-top: 0px !important;
    }
}
 .custom-label {
    font-weight: 600 !important;
    color: #000;
    font-size: 11px;
}

/*card css*/
.card{
    border-radius: 0 !important;
    height: calc(100% - 55px);
    .card-header{
        background-color: $color_gray3;
        padding: 10px 35px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        .card-title{
            font-weight: 600;
            font-size: 16px;
            -webkit-box-flex: 1;
                -ms-flex-positive: 1;
                    flex-grow: 1;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            svg{
                margin-left: 5px;
                font-size: 16px;
                color: $color_gray5;
                cursor: pointer;
            }
        }
        .btn-primary {
            background-color: #0073CF !important;
            min-height: 32px !important;
            padding: 2px 16px !important;
        }
    }
    .card-body{
        padding: 30px 35px;
        overflow-y: auto;
        overflow-x: hidden;
        height: calc(100% - 55px);
    }
}
/*card css end*/
/*tab css*/

.tab-nav{
    .tab-nav-item{
        min-width: 100px !important;
        text-transform: capitalize;
        color: #000;
    }
    >div >div >div{
        +span{
            background-color: $text_primary !important;
            height: 4px !important;
        }
    }
    .tab-nav-item[aria-selected ="true"]{
        >span>span>span{
            color: $text_primary !important;
        }
    }
}
.tab-box{
    border: 1px solid $color_gray7;
    .nav-tab{
        -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
                box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
    }
    .tab-container{
        padding: 20px;
    }
}

/*tab css end*/

/*chip css*/
.chip-gray{
    min-width: 230px;
    height: 34px !important;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
    font-size: 12px;
    background-color: #EFEFEF !important;
    padding: 0px 10px !important;
    color: $color_gray1 !important;
    cursor: pointer !important;
    span{
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1;
    }
    svg{
        color: $color_gray2;
        font-size: 16px;
    }
}
.chip-gray.active{
    background-color: $text_primary !important;
    color: $color_white !important;
    svg{
        color: $color_white;
    }
}

.dialog-add{
    >div{
        +div{
            >div{
                border-radius: 0 !important;
                .dialog-title{
                    padding: 15px 24px 15px !important;
                    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
                            box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
                    background-color: #EEEEEE;
                    h2,h6{
                        font-size: 16px;
                        font-weight: 600;
                        color: #000;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-align: center;
                            -ms-flex-align: center;
                                align-items: center;
                        width: 100%;
                        span{
                            -webkit-box-flex: 1;
                                -ms-flex-positive: 1;
                                    flex-grow: 1;
                        }
                        svg{
                            color: $color_gray1;
                            cursor: pointer;
                        }
                    }
                }
                .dialog-content{
                    padding: 40px 24px 40px;
                    .custom-label{
                        font-size: 12px !important;
                    }
                }
            }
        }
    }
}

/*table css*/
.table-bordered{
    border: 1px solid #ddd;
    tr{
        height: 40px !important;
        td{
            border-bottom: none !important;
        }
        &:nth-child(even){
            background-color: $color_gray9;
        }
    }
   thead{
       tr{
        background-color: $light_gary;
            th{
                font-weight: 600 !important;
            }
       }
   }
}

/*grid css*/
.grid-80{
    max-width: 80%;
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
}
.grid-20{
    max-width: 20%;
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
}

/*checkbox css */
.checkbox-primary{
    svg{
        font-size: 18px;
        color: $text_primary;
    }
}