.bg-error{
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    width: 75% !important;
    float: left;
    padding: 0 !important;
    min-height: auto;
    display: block;
    height: 100%;
    max-width: 75% !important;
    top: 10%;
}

.error-boundary{
    text-align: center;
    max-width: 100% !important;
    flex-basis: 100% !important;
    .side-login-panel{
        background-color: transparent !important;
        box-shadow: none !important;
        .quad-content{
            padding: 0;
            .error-icon {
                h2{
                    font-size: 16px;
                }
                img{
                    width: 35px;
                }
            }
        }
    }
}