
html {
    height: 100%;
}

body{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    font-size: 14px;
}

#app-container ,.section-verify{
    height: 100%;
}

.section-app,.app-page-container,.app-content-wrapper,.main-content,.page-content{
    height: 100%;
}
.main-content{
    padding: 0px !important;    
}