.header{
    background-color: $text_danger !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    .logo{
        flex-grow: 1;
        img{
            max-width: 280px;
        }
    }
    .header-toolbar{
        padding-right: 12px;
        padding-left: 0;
        min-height: 55px !important;
        .toolbar-icon{
            display: none;
            padding: 0px;
            min-height: 55px !important;
        }
    }

   
}

.drawer-responsive{
    .toolbar-icon{
        display: flex !important;
        svg{
            fill: $color_white !important;
            //font-size: 30px !important;
        }
    }
    .sidebar-menu{
        .menu-item{
            .menu-icon{
                margin-right: 0px !important;
            }
        }
        .submenu-list{
            .menu-item{
                padding-left: 55px !important;
            }
        }
    }
}