.header{
    background-color: $text_danger !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    .logo{
        img{
            max-width: 280px;
        }
    }
}