.navbar-collapse{
    display: none !important;
    
}
.table-responsive {
    min-height: .01%;
    overflow-x: auto;
}

@media (min-width:1100px) and (max-width:1400px) {
    .stepper .step-item > div {
        left: calc(-94% + 7px) !important;
        right: calc(92% + 9px) !important;
    }

    .card-room{
        .card-body{
            .stepper .step-item > div {
                left: calc(-96% + 15px) !important;
                right: calc(96% + 8px) !important;
            }
        }
    }
}

@media (min-width:1400px){
    .stepper .step-item > div {
        left: calc(-96% + 7px) !important;
        right: calc(92% + 9px) !important;
    }
    .card-room{
        .card-body{
            .stepper .step-item > div {
                left: calc(-96% + 10px) !important;
                right: calc(96% + 10px) !important;
            }
        }
    }
    .pdf-box{
        .pdf-sec{
            .col-left{
                max-width: 15% !important;
                -ms-flex-preferred-size: 15% !important;
                    flex-basis: 15% !important;
            }
            .col-right{
                max-width: 85% !important;
                -ms-flex-preferred-size: 85% !important;
                    flex-basis: 85% !important;
            }
        }
    }
}
@media (max-width:1280px){
    .bootstrap-text-field{
        label{
            font-size: 12px !important;
        }
    }
}

@media (max-width:1200px){
    .section-verify{
        .verify-bg {
            padding: 0 40px;
            img{
                width: 100%;
            }
        }
    } 
    .top-gray-bg{
        padding: 20px;  
    }
    .package-details{
        .media {
            padding-right: 12px;
        }
    }
    .signer-info{
        .signer-details{
            span.title {
                display: initial;
            } 
        }
    }
    .card-container{
        padding: 0 20px;
    } 
    .stepper .step-item > div {
        left: calc(-96% + 11px) !important;
    } 
    

}

@media (max-width:992px){
    .stepper .step-item > div {
        left: calc(-96% + 14px) !important;
    }       
}

@media (max-width:768px){
    .section-verify{
        height: auto;
    }
    .stepper .step-item > div {
        left: calc(-96% + 17px) !important;
    }  
    .section-verify{
        .verify-bg {
            height: 200px;
        }
    } 
    .pdf-box{
        .pdf-sec{
            .left-panel{
                height: auto;
                overflow-x: auto;
                overflow-y: hidden;
                white-space: nowrap;
                -webkit-box-align: start;
                    -ms-flex-align: start;
                        align-items: flex-start;
                text-align: left;
            }
            .left-remote-sign{
                width: 82vw
            }
            .pdf-doc{
                ul{
                    li {
                        display: inline-block;
                        overflow: auto;
                        white-space: nowrap;
                        padding: 10px 5px;
                        a{
                            display: table-cell;
                            min-height: 80px;
                            width: 80px;
                            margin: 10px;
                            img{
                                width: 100%;
                                height: 70px;
                            }
                            .num-count{
                                left: 33%;
                                top: -9px;
                            }
                        }
                    }
                }
            }
            .right-panel{
                text-align: center;
            }
        }
    } 
    .navbar-collapse{
        display: block !important;
    }

    .sidebar{
        position: fixed;
        left: 0;
        height: 100%;
        z-index: 1000;
    }
    .sidebar-drawer{
        width: 0 !important;
        >div{
            width: 0 !important;
        }
    }
    .drawer-responsive{
        .sidebar-drawer{
            width: 240px !important;
            >div{
                width: 240px !important;
            }
        }
    }
    .open.sidebar{
        -webkit-transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        -o-transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        .sidebar-drawer{
            width: 240px !important;
            >div{
                width: 240px !important;
            }
        }
    }
   
    .confirm-dialog  {
        > div{
            + div > div{
                width: 100%;
                max-width: 100%;
                margin: 12px;
                .dialog-head{
                    padding: 20px 24px 20px !important;
                }
                .dialog-content{
                    padding: 0 15px 15px !important;
                }
                .dailog-footer{
                    padding-bottom: 10px;
                }
                .btn-common {
                    padding: 2px 12px !important;
                }
            }
        }
      
    }
    
.table-scroll-x {
    overflow-x: auto;
    max-width: 100vw;
    table{min-width: 600px;}

}
    .chat-box {
        right: 0;
        bottom: 0px;
        margin-right: 0;
        margin-bottom: 0;
    }
}

@media (max-width:600px){
    .header{
        .header-toolbar{
            button{
                margin-left: 0px;
            }
        }
        .logo img {
            max-width: 180px;
        }
    } 
   
    .package-details{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column;
                flex-flow: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        .media{
            margin-bottom: 15px;
        }
        .media-content{
            .text-large {
                font-size: 11px;
            }
            .text-small {
                font-size: 10px;
            }
        } 
    }
    .signer-info{
        .signer-details{
            span.title {
                min-width: 100px;
                display: inline-block;
            }
            span {
                font-size: 11px;
            } 
        }
    }
    .schedule-section{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row;
                flex-flow: row;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        .media{
            margin-bottom: 15px;
        }
    }
    
    .card-container{
        padding: 0 20px;
        .card-white{
            .card-content{
                .right-content{
                    padding-top: 0px;
                }
            }
        } 
    } 
    .stepper{
        .step-item{
            > div {
                left: calc(-96% + 19px) !important;
            } 
            .step-label > span + span > span{
                font-size: 10px;
            } 
        }
    }
    .card{
        .card-header{
            padding: 10px 10px;
            .card-title{
                font-size: 13px;
            }
        }
        .card-body{
            padding: 20px 10px;
        }
    }  
    .min-width-130 {
        min-width: 80px !important;
    }
    .dialog-closing  {
        > div + div > div{
            max-width: 100% !important;
            margin: 12px;
             .dialog-content {
                padding: 40px 15px 40px;
            }
            .btn-sm {
                padding: 6px 9px !important;
            }
        }
    }
    .min-width-100 {
        min-width: 60px !important;
    }
    .dialog-add  {
        > div + div > div{
            margin: 12px;
             .dialog-content {
                padding: 20px 15px 20px;
                .mrB15p {
                    margin-bottom: 0% !important;
                }
            }
        }
    }
    .right-chat-container-desktop {
        display: none;
    }
    .xs-hidden{
        display: none;
    }
    .icon-chat .fa {
        font-size: 16px;
    }
    .text-center-mb{
        text-align: center;
    }
    
}

@media (max-width:480px){
    .card-container{
        padding: 0 20px;
    } 
    .package-details{
        .media{
            padding-right: 0px;
            .schedule-object{
                width: 25px !important;
                height: 25px !important;
            }
        }
    }
    .heading-large {
        font-size: 12px !important;
    }
    .btn-blue {
        min-width: 50px !important;
    }
    .btn-gray {
        min-width: 40px !important;
    }
    .btn-icon {
        padding: 2px 4px !important;
        min-height: 30px !important;
        min-width: 50px !important;
    }
    .btn-common {
        padding: 2px 3px !important;
        min-height: 30px !important;
        span{
            font-size: 10px !important;
        }
    }
    .nav-tab{
        .nav-tab-btn{
            min-width: 70px !important;
        }
    } 
    .stepper{
        .step-item{
            > div {
                left: calc(-96% + 21px) !important;
            } 
        }
    }
    .bootstrap-text-field{
        label{
            font-size: 11px !important;
        }
    }
    .card{
        .card-body{
            .text-right {
                text-align: left;
            }
            .note-title{
                display: block;
            }
        }
    }
    .list-charges{
        .list-charges-items{
            span{
                display: block;
            }
            .separate-dot{
                display: none;
            }
            .info-text{
                margin-left: 0px !important;
            }
            .list-charges-title {
                min-width: 200px;
            }
        }
    }
    .add-pro-code{
        display: block;
        text-align: center;
    }  
    .tab-nav .tab-nav-item {
        min-width: 70px !important;
        font-size: 12px;
    }
    .table-scroll-x {
        max-width: 93vw;
    }
    .card-header{
        > div
        {
            &:nth-child(1){
                span{
                    font-size: 12px;
                }
            }
        }
    } 
}

@media(max-width:360px){
    .btn{
        font-size: 10px !important;
    }
    .card{
        .card-header{
             .btn-primary {
                padding: 2px 10px !important;
            }
        }
    }  
}