
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
// @import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';

@import "custom/standardElement";
@import "custom/errorBoundary";
@import "custom/emailVerify";
@import "custom/notarySignIn";
@import "custom/header";
@import "custom/sidebar";
@import "custom/dashboard";
@import "custom/closingRoom";
@import "custom/options";
@import "custom/profile";
@import "custom/common";
@import "custom/global";
@import "custom/404";
@import "custom/responsive";
@import "custom/browser";
@import "custom/chat";
@import "custom/validationError";

@import "custom/viewer";







